{{ 'campaign-id.css' | asset_url | stylesheet_tag }}
{{ 'get-started.css' | asset_url | stylesheet_tag }}

{% comment %} POPUP MODAL TO ENTER FUNDRAISER ID {% endcomment %}
<div id="popupFormModal" class="modal">
  <div class="modal-content">
    <h1 class="h0">Anonymous donation</h1>
    <p class="subtitle">
      Please note that this donation will NOT be attributed to any specific student and will not contribute to any
      classroom incentives or school-wide competition standings.
    </p>
    <p class="subtitle">
      <i
        >If you wish to ensure your donation is credited to your student, please download our app and create an account:</i
      >
    </p>
    <div class="downloadIcons">
      <a href="https://apps.apple.com/us/app/fundraise-a-thon/id6449069221" target="_blank">
        {% render 'apple-download-icon' %}
      </a>

      <a href="https://play.google.com/store/apps/details?id=com.scentcofundraise" target="_blank">
        <img
          class="appIcons"
          src="https://cdn.shopify.com/s/files/1/0745/8694/7905/files/GetItOnGooglePlay_Badge_Web_color_English.png?v=1736192994"
          alt=""
          width="1000"
          height="1000"
          loading="lazy"
        >
      </a>
    </div>
    <hr style="margin: 0">
    <br>
    <form id="codeForm" onsubmit="handleSubmit(event)">
      <label class="subtitle" for="numericCode">Enter Fundraiser ID:</label>
      <input
        id="numericCode"
        type="number"
        oninput="validateInput(this)"
        required
      >
      <button type="submit">Submit</button>
    </form>

    <p id="errorMsg" style="color: red"></p>
  </div>
</div>

{% comment %} FUNDRAISER DETAILS LISTED ABOVE DONATION BOX {% endcomment %}
<div class="campaignDetails">
  <h1>Anonymous Donation</h1>
  <h2 id="campaignTitle">FUNDRAISER TITLE HERE</h2>
  <div id="campaignImg">
    {{ 'product-1' | placeholder_svg_tag }}
  </div>
  <p id="campaignDescription">FUNDRAISER DESCRIPTION HERE</p>
  {% comment %} DONATION SELECTOR {% endcomment %}
  {% if product.variants.size > 1 %}
    <div class="donation-selector">
      <label>Choose Your Donation Amount:</label>
      <form method="post" action="/cart/add">
        <div id="donation-options">
          {% for variant in product.variants %}
            {% if variant.available %}
              <label class="donation-option">
                <input
                  type="radio"
                  name="id"
                  value="{{ variant.id }}"
                  {% if forloop.first %}
                    checked
                  {% endif %}
                >
                {{ variant.price | money }}
              </label>
            {% endif %}
          {% endfor %}
        </div>
        <input
          id="fundraiserImgInput"
          type="hidden"
          name="properties[fundraiserImg]"
          value="{{ data.avatar }}"
        >
        <button
          class="addDonation product-form__submit button--full-width button"
          type="submit"
          class="btn btn-primary"
        >
          Donate
        </button>
      </form>
    </div>
  {% else %}
    <p>This product has no variants available.</p>
  {% endif %}
</div>

<script>
  var modal = document.getElementById('popupFormModal');
  const errMsg = document.getElementById('errorMsg');

  window.onload = function () {
    modal.style.display = 'block';
  };

  // Limit to 4 digit input
  function validateInput(input) {
    const value = input.value;
    if (value.length > 4) {
      input.value = value.slice(0, 4);
    }
  }

  // Handle form submission and call API with user input
  function handleSubmit(event) {
    event.preventDefault();
    const code = document.getElementById('numericCode').value;

    if (code.length === 4) {
      getCampaignData(code);
    } else {
      errMsg.textContent = 'Please enter a 4 digit numeric value';
    }
  }

  // Resourcifi API data
  async function getCampaignData(code) {
    try {
      const formData = new FormData();
      formData.set('fundraiser_id', code);
      const response = await fetch(
        'https://super-admin.scentcofundraising.com/api/fundraise/campaign-info-by-campaign-referral',
        {
          method: 'POST',
          body: formData,
        }
      );
      const responseData = await response.json();

      // Success: Hide modal and populate fundraiser details
      if (responseData.status === 'success') {
        modal.style.display = 'none';
        addCode(code);
        addDetailsToDom(responseData.data);
      }

      // Fail: Prompt user to try again
      else {
        errMsg.textContent = 'Invalid Fundraiser ID. Try again.';
        console.log('INVALID FUNDRAISER ID');
      }
    } catch (error) {
      console.log('Something went wrong!', error);
    }
  }

  // Populate fundraiser details
  function addDetailsToDom(data) {
    const campaignTitle = document.getElementById('campaignTitle');
    const campaignImg = document.getElementById('campaignImg');
    const campaignDescription = document.getElementById('campaignDescription');

    campaignTitle.textContent = data.campaign_name;
    campaignDescription.textContent = data.campaign_description;

    if (data.avatar) {
      campaignImg.innerHTML = `<img src="${data.avatar}"/>`;
      document.getElementById('fundraiserImgInput').value = data.avatar;
    }
  }

  function removeCode() {
    localStorage.removeItem('fundraiser_id');
  }

  // Save Fundraiser ID to local storage to collect upon order submission
  function addCode(code) {
    if (!code) {
      removeCode();
      return;
    }
    localStorage.setItem('fundraiser_id', code);
  }
</script>
